.button {
  border-radius: 25px;
  border: 2px solid #1E1E1E;
  font-family: 'Gabarito';
  font-weight: 500;
  color: #1E1E1E;
  margin: 0 5px;
  transition: all 0.2s ease;
  padding: 5px;
  padding-left: clamp(10px, 4vw, 25px);
  padding-right: clamp(10px, 4vw, 25px);
  font-size: 18px;
}

/* Scale font size down only when screen is narrower than 400px
@media (max-width: 500px) {
  .button {
    font-size: clamp(14px, 4vw, 18px);
  }
} */

.button:focus {
  outline: none;
}

.session,
.short,
.long {
  background-color: #FFD8DF;
}

.active {
  background-color: #1E1E1E;
  color: #FEF9F1;
}

.progress {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 13px;
  flex-wrap: wrap;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #1E1E1E;
  background-color: #747474;
}

.filled {
  background-color: #FFD8DF;
}

.timeControlContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.time {
  flex: 1;
  font-family: 'Gabarito';
  font-size: 3rem;
  font-weight: 700;
  color: #1E1E1E;
  text-align: center;
  margin: 0;
}

.control {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.start {
  border-radius: 25px;
  /* font-size: clamp(16px, 4vw, 20px); */
  padding: 7px 20px;
  background-color: #1E1E1E;
  color: #FEF9F1;
  border: none;
}

.reset,
.edit {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
